  body {
    width: 1008px;
    margin: auto;
  }
  .carousel-item:hover img {
    opacity: 1;
  }
  .carouselLink {
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 2px 1px;
    float: left;
    width: 100%;
  }
  .carouselImg {
    display: inline-block;
    width: 249px;
    height: 249px;
    float: left;
  }
  .gtgTitle {
    font-size: 13px;
    line-height: 0.9;
    font-family: "Utopia", Georgia, serif;
    font-style: italic;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    float: left;
    margin: -20px 0 5px 10px;
  } /*FONTS AND BASE CSS*/
  .cmsHM-gr {
    font-size: 30px;
    line-height: 32px;
    margin: 0;
    letter-spacing: -1.5px;
  }
  .cmsP-gr {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  .list-gr {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
  .cmsA-gr {
    font-size: 11px;
  }
  .curalate-gr {
    font-size: 36px;
  }
  .fullDiv-gr {
    width: 1008px;
    position: relative;
    overflow: hidden;
    padding-bottom: 8px;
  }
  .fL {
    float: left !important;
  }
  .fR {
    float: right !important;
  }
  .tC {
    text-align: center !important;
  }
  .fS28 {
    font-size: 28px !important;
  }
  .whtArrw {
    border-left-color: white;
  }
  .underLine-gr {
    text-decoration: underline;
    text-decoration-color: #969595;
    -moz-text-decoration-color: #969595;
  }
  .grHeading {
    font-size: 32px;
    line-height: 1;
    font-family: "Utopia", Georgia, serif;
    font-style: italic;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    color: #222;
  }
  .dividerHeart {
    height: 14px;
    background: url(//images.crateandbarrel.com/is/image/Crate/heartDivider/?fmt=png&wid=998)no-repeat
      top
      center;
    margin: 3px auto;
    clear: both;
  } /*VIDEO*/
  video {
    width: 100%;
  }
  #playBtn {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(//images.crateandbarrel.com/is/image/Crate/play_replay_button_sprite_white?fmt=png-alpha);
    background-position: 0 0;
    background-size: 200%;
    bottom: 20%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin: auto;
    cursor: pointer;
    z-index: 3;
  }
  #replayBtn {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(//images.crateandbarrel.com/is/image/Crate/play_replay_button_sprite_white?fmt=png-alpha);
    background-position: -100% 0;
    background-size: 200%;
    bottom: 20%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin: auto;
    cursor: pointer;
    display: none;
    z-index: 3;
  }
  #fallBackImg {
    background-image: url("//images.crateandbarrel.com/is/image/Crate/gr-prevideo-cover-1?wid=1008");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 567px;
  }
  #vidOverlay {
    background: rgba(0, 0, 0, .65);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 567px;
    z-index: 2;
  } /*VIDEO*/ /*TEXT*/
  .startRegistryText {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 344px;
    margin: 0 auto;
  }
  .startRegistrySubText {
    position: absolute;
    top: 41%;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
  }
  #grVideoText {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 373px;
    margin: 0 auto;
    z-index: 3;
  }
  .registryBeneftisText {
    position: absolute;
    background: rgba(255, 255, 255, .85);
    padding: 34px 18px 20px 34px;
    left: 2%;
    top: 0%;
  }
  .registryBeneftisText ol {
    margin-top: 10px !important;
  }
  .btnRegStart {
    padding: 8px 25px !important;
  }
  .btnFC3, .btnFC4 {
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff !important;
    font-family: "Neue Helvetica W01", Helvetica, Arial, sans-serif;
    font-weight: 300 !important;
    text-decoration: none !important;
    float: left;
  }
  .btnFC4, .btnFC5 {
    height: 38px;
    padding: 0 18px;
    font-size: 15px !important;
    line-height: 38px !important;
  }
  .regBenH3Italics {
    font-family: "Utopia", "Utopia W03 Subhead", Georgia, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: -1px;
    margin-bottom: 25px;
  }
  .regStart {
    text-align: center;
    padding: 10px 0 80px 0;
  }
  .width100p {
    width: 100%;
  }
  .lazyloading {
    opacity: 0;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 2s;
  }