/* CSS Document */

body {
	background: #f6f7f9;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #06274a;
}
.mobile-wrap {
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	height: auto;
	max-height: 90vh;
	margin: auto;
	position: relative;
	top: 50%;
	background: #060411;
	color: #ffffff;
	margin-top: 20px;
	border: 0 solid #ffffff;
	border-radius: 15px;
	overflow: hidden;
}
.mobile-wrap h1, .mobile-wrap h2 {
	font-weight: 300;
}
.art {
	background: #060411 url(http://antonshepherd.com/speechrec/img/mic-2.jpg) center bottom -5px;
	background-size: cover;
	padding: 20px;
}
.art h1 {
	color: white;
	font-weight: 500;
	font-size: 24px;
	margin-top: 30px;
}
.art p {
	color: white;
	margin-bottom: 20px;
}
.content-wrap {
	border: 0 solid #ffffff;
	border-radius: 15px;
	background: white;
	padding: 20px;
	margin: 0 20px;
	color: #060411;
}
button {
	background: #ffffff;
	border: 1px solid #c0cbde;
	border-radius: 20px;
	padding: 10px 15px;
	color: #748096;
	/*box-shadow: 0 0 5px #e3e6ed;*/
	margin-right: 15px;
	line-height: 15px;
	margin-bottom: 5px;
}
.btn-styled {
	background: #060411;
	border: 1px solid #060411;
	border-radius: 20px;
	color: white;
}
#clear-all {
	border: none;
	background: none;
	padding-left: 0;
	margin-right: 0;
}
.row {
	float: left;
	width: 100%;
	padding: 20px;
}
textarea {
	border: 1px solid #c0cbde;
	border-radius: 10px;
	float: left;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}
.log {
	font-weight: bold;
	margin-top: 20px;
	border-bottom: 1px solid #c0cbde;
}
.results-type {
	float: left;
	width: 100%;
	padding: 20px;
	color: #ffffff;
}
.results-type label {
	font-weight: 300;
	margin-left: 5px;
}

/* Light Theme */

.theme {
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 10px;
	text-align: right;
}
.mobile-wrap.light {
	background: #fff;
	color: #00001c;
	border-radius: 2px;
	box-shadow: 0 0 1px #99a2b1;
}
.mobile-wrap.light .art {
	background: url(http://antonshepherd.com/speechrec/img/ipad.jpg) center bottom 240px;
	background-size: 640px auto;
}
.mobile-wrap.light .art h1, .mobile-wrap.light .art p {
	color: #fff;
}
.mobile-wrap.light .content-wrap {
	color: #09275c;
	box-shadow: 0 0 1px #99a2b1;
	border-radius: 2px;
	background: #fff;
	margin-top: 20px;
}
.mobile-wrap.light textarea {
	border-radius: 2px;
	box-shadow: 0 0 1px #99a2b1;
	border: none;
}
.mobile-wrap.light button {
	color: #2f4373;
}
.mobile-wrap.light .btn-styled {
	background: #09275c;
	border: 0 solid #09275c;
	position: relative;
	padding-right: 25px;
	background: #6761b5;
	background: -moz-linear-gradient(top, #6761b5 0%, #131054 77%);
	background: -webkit-linear-gradient(top, #6761b5 0%, #131054 77%);
	background: linear-gradient(to bottom, #6761b5 0%, #131054 77%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6761b5', endColorstr='#131054', GradientType=0);
	color: #ffffff;
}
.mobile-wrap.light .btn-styled:after {
	content: "";
	width: 10px;
	height: 0;
	position: absolute;
	top: 13px;
	right: 7px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid white;
}
.mobile-wrap.light .results-type {
	color: #09275c;
}
.log {
	border-bottom: 1px solid #e4e9f1;
}
.add-to-cart {
	margin: 0 0 20px 20px;
	position: relative;
	float: right;
}
button.add-to-cart.added {
	color: white;
	padding-right: 28px;
	background: #299a0b;
	background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%);
	background: -webkit-linear-gradient(top, #299a0b 0%, #299a0b 100%);
	background: linear-gradient(to bottom, #299a0b 0%, #299a0b 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b', GradientType=0);
}
button.add-to-cart.added:after {
	content: "✔";
	position: absolute;
	top: 10px;
	right: 10px;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0 solid white;
}
.bigred {
	border: 3px solid red;
}

@media (max-width: 600px) {
	.mobile-wrap {
		margin-top: 0;
	}
	.add-to-cart {
		float: left;
		margin-top: 0;
		margin-left: 0;
		clear: both;
	}
	#clear-all {
        display: block;
		margin-left: 5px;
	}
	.log {
		width: 100%;
		clear: both;
	}
}
